#firedrive-category-table {
    display: table;
    width: 100%;
    margin-bottom: 18px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

#firedrive-category-table tbody, #firedrive-category-table thead {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

#firedrive-category-table tr {
    display: table-row;
    vertical-align: middle;
    border-color: inherit;
}

#firedrive-category-table th, #firedrive-category-table td {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding: 8px;
    line-height: 18px;
    border-top: 1px solid #ddd;
}

#firedrive-category-table th {
    font-weight: normal;
    padding: 14px 8px;
}

#firedrive-category-table .col-icon {
    width: 1%;
}

#firedrive-category-table .col-icon img {
    max-width: inherit;
    min-width: 30px;
}

#firedrive-category-table .col-title h3 {
    font-weight: bold;
    font-size: 1.1em;
}

#firedrive-category-table .col-actions {
    text-align: right;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    #firedrive-category-table,
    #firedrive-category-table thead,
    #firedrive-category-table tbody,
    #firedrive-category-table th,
    #firedrive-category-table td,
    #firedrive-category-table tr {
        display: block;
    }

    #firedrive-category-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #firedrive-category-table tr {
        border: 1px solid #ccc;
        margin-bottom: 3px;
    }

    #firedrive-category-table td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        vertical-align: top;
    }

    #firedrive-category-table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    #firedrive-category-table .col-title h3 {
        margin-top: 0;
        margin-bottom: 0;
        size: 1em;
    }

    #firedrive-category-table .col-icon {
        display: none;
    }

    #firedrive-category-table .col-actions {
        text-align: left;
    }
}